<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArkHarvester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ArkHarvester.Properties.Settings>
            <setting name="M_Box_item_position_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M_Box_item_position_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M_Color_itemR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M_Color_itemG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M_Color_itemB" serializeAs="String">
                <value>0</value>
            </setting>
        </ArkHarvester.Properties.Settings>
    </userSettings>
</configuration>